    
    <section class="pre-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center" style="border-right: 1px solid #50504f;">
                    <div class="text-center">
                        <h1 class="white-text">Veterinary Clinic</h1>
                    </div>
                </div>

                <div class="col-md-4 d-flex justify-content-center" style="border-right: 1px solid #50504f;">
                    <div class="text-center">
                        <h1 class="white-text">Quick Links</h1>

                        <ul class="footer-links-list">
                            <li>
                                <a class="green-text" href="/about-us">About Us</a>
                            </li>
                            <li>
                                <a class="green-text" href="/services">Services</a>
                            </li>
                            <li>
                                <a class="green-text" href="/pharmacy">Online Pharmacy</a>
                            </li>
                            <li>
                                <a class="green-text" href="/contact-us">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="white-text">Hospital Hours</h1>

                        <ul class="footer-links-list white-text">
                            <li>
                                <span class="brown-text">Mon, Tue, Wed, Thu:</span>&nbsp;9am-4pm
                            </li>
                            <li>
                                <span class="brown-text">Fri, Sat:</span>&nbsp;9am-2pm
                            </li>
                            <li>
                                <span class="brown-text">Sun:</span>&nbsp;Closed
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <span>Veterinary Clinic © | Made with ❤️</span>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{baseUrl}}/js/index.js"></script>
</body>
</html>