{{>header}}
    <div class="main-content">
        <section class="hero-2">
            <div class="hero-inner"></div>
        </section>

        <section>
            <div class="container">
                <h1 class="green-text heading">About Us</h1>
                <h3 class="sub-heading">WE'RE PASSIONATE ABOUT PROVIDING QUALITY VETERINARY CARE TO THE ANIMALS IN THE JACKSONVILLE COMMUNITY.</h3>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie, ipsum sit amet vestibulum malesuada, lorem risus blandit risus, eget facilisis justo dolor sed erat. Maecenas tincidunt mauris magna, in gravida ipsum dapibus a. Praesent semper, erat eget sagittis semper, turpis nisi venenatis orci, at tristique nulla nisl tincidunt mauris. Nullam tempor quis urna vel feugiat. Integer eu lorem iaculis, tristique ante et, laoreet turpis. Sed imperdiet, risus vitae hendrerit tempor, mi urna porttitor nisl, vel venenatis turpis sapien at ex. Morbi semper quis lacus a rhoncus.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie, ipsum sit amet vestibulum malesuada, lorem risus blandit risus, eget facilisis justo dolor sed erat. Maecenas tincidunt mauris magna, in gravida ipsum dapibus a. Praesent semper, erat eget sagittis semper, turpis nisi venenatis orci, at tristique nulla nisl tincidunt mauris. Nullam tempor quis urna vel feugiat. Integer eu lorem iaculis, tristique ante et, laoreet turpis. Sed imperdiet, risus vitae hendrerit tempor, mi urna porttitor nisl, vel venenatis turpis sapien at ex. Morbi semper quis lacus a rhoncus.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie, ipsum sit amet vestibulum malesuada, lorem risus blandit risus, eget facilisis justo dolor sed erat. Maecenas tincidunt mauris magna, in gravida ipsum dapibus a. Praesent semper, erat eget sagittis semper, turpis nisi venenatis orci, at tristique nulla nisl tincidunt mauris. Nullam tempor quis urna vel feugiat. Integer eu lorem iaculis, tristique ante et, laoreet turpis. Sed imperdiet, risus vitae hendrerit tempor, mi urna porttitor nisl, vel venenatis turpis sapien at ex. Morbi semper quis lacus a rhoncus.
                </p>

            </div>
        </section>
    </div>
{{>footer}}