{{>header}}
    <div class="main-content">
        <div class="login-form-container">
            <div class="contact-form-area">
                <form class="contact-form">
                    <input type="text" placeholder="Username" id="admin-username-field"/>

                    <input type="password" placeholder="Password" id="admin-password-field"/>

                    <button class="my-btn" style="float: right;" type="button" id="admin-login-btn">Login</button>
                </form>
            </div>
        </div>
    </div>
{{>footer}}