{{>header}}
    <div class="main-content">
        <section class="hero-2">
            <div class="hero-inner"></div>
        </section>

        <section>
            <div class="container">
                <h1 class="green-text heading">Contact Us</h1>
                <h3 class="sub-heading">CONTACT OUR VETERINARY CLINIC TODAY! WE WILL ANSWER YOU THROUGH EMAIL</h3>

                <div class="contact-form-area">
                    <form class="contact-form">
                        <input type="text" placeholder="Your Name" id="contact-name"/>

                        <input type="email" placeholder="Your Email" id="contact-email"/>

                        <textarea placeholder="Your message" id="contact-msg"></textarea>

                        <button class="my-btn" type="button" id="contact-us-btn">Submit</button>
                    </form>
                </div>

            </div>
        </section>
    </div>
{{>footer}}