{{>header}}
    <div class="main-content">
        <section class="hero-1"></section>

        <section>
            <div class="container">
                <h1 class="green-text heading">Get to Know Us</h1>
                <h3 class="sub-heading">SMALL, FRIENDLY ANIMAL CLINIC THAT TREATS YOUR PETS LIKE FAMILY</h3>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie, ipsum sit amet vestibulum malesuada, lorem risus blandit risus, eget facilisis justo dolor sed erat. Maecenas tincidunt mauris magna, in gravida ipsum dapibus a. Praesent semper, erat eget sagittis semper, turpis nisi venenatis orci, at tristique nulla nisl tincidunt mauris. Nullam tempor quis urna vel feugiat. Integer eu lorem iaculis, tristique ante et, laoreet turpis. Sed imperdiet, risus vitae hendrerit tempor, mi urna porttitor nisl, vel venenatis turpis sapien at ex. Morbi semper quis lacus a rhoncus.
                </p>

                <div class="call-to-action">
                    <button data-toggle="modal" data-target="#appointmen-modal">Book An Appointment</button>
                </div>
            </div>
        </section>
    </div>
{{>footer}}