{{>header}}
    <div class="main-content">
        <section class="hero-2">
            <div class="hero-inner"></div>
        </section>

        <section>
            <div class="container">
                <h1 class="green-text heading">Our Services</h1>
                <h3 class="sub-heading">PET CARE SERVICES FROM VETERINARY CLINIC</h3>

                <p>We provide the following services:</p>

                <ul style="font-size: 17px;">
                    <li>Wellness Care</li>
                    <li>Allergies &amp; Dermatology</li>
                    <li>General Surgery</li>
                    <li>Dental Care</li>
                    <li>Diagnostics</li>
                    <li>Pet Care</li>
                    <li>End of Life Services</li>
                </ul>

            </div>
        </section>
    </div>
{{>footer}}